<template>
  <div>
    <v-card>
      <v-card-title>
        <router-link to="/">
          <img class="logo" src="@/assets/logo.svg" width="64" height="64" />
          <h2>A Vue Application</h2>
        </router-link>
      </v-card-title>

      <v-card-text>
        <v-form ref=" ref">
          <v-text-field
            :rules="[rulesRequired, rulesEmail]"
            label="Email"
            type="email"
            outlined
            v-model="email"
          ></v-text-field>
          <v-text-field
            :rules="[rulesRequired, rulesLength]"
            label="Password"
            type="password"
            minLength="8"
            outlined
            v-model="password"
          ></v-text-field>
          <a href="javascript:void(0)"> Forgot password? </a>
          <v-btn block color="primary" type="submit" @click="handleSignIn"> Sign In</v-btn>
        </v-form>
      </v-card-text>

      <v-card-text class="d-flex align-center justify-center flex-wrap mt-2">
        <span> Don't have an account yet? </span>
        <router-link :to="{ name: 'home' }"> Register </router-link>
      </v-card-text>

      <div v-if="error" class="red--text font-weight-bold text-center">{{ error }}</div>
      <div class="red--text font-weight-bold text-center">{{ message }}</div>
    </v-card>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { useRouter } from 'vue-router';
import { useAuthUserStore } from '../stores/auth.user';
import { useUserProfileStore } from '../stores/user.profile';
import { apiService } from '../services';

const router = useRouter();
const authUserStore = useAuthUserStore();
const userProfileStore = useUserProfileStore();

const email = ref('');
const password = ref('');
const message = ref('');
const error = ref('' || null);

const rulesRequired = (value) => {
  return !!value || 'Field is required.';
};

const rulesLength = (value) => {
  return value.length >= 8 || 'Min 8 characters.';
};

const rulesEmail = (value) => {
  const pattern =
    /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
  return pattern.test(value) || 'Invalid e-mail.';
};

const handleSignIn = async (e) => {
  // https://stackoverflow.com/questions/61522494/react-axios-error-request-aborted-for-delete-request-in-firefox-but-not-in-chro
  e.preventDefault();
  try {
    await apiService.signIn({ email: email.value, password: password.value });
    error.value = null;
    authUserStore.$patch({ isAuthenticated: true, error: null });
    userProfileStore.$patch({ email: email.value });
    router.push('/user/profile');
  } catch (err) {
    error.value = err;
    console.error('[Views/SignIn] handleSignIn Error: %s', err);
    authUserStore.$patch({ isAuthenticated: false, error: err });
  }
};
</script>

<style>
a {
  text-decoration: unset;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}
</style>
