<template>
  <div>
    <h1>User Profile</h1>
    <v-form id="user_profile" class="form" lazy-validation>
      <v-text-field v-model="name" label="Name" required></v-text-field>
      <v-text-field v-model="email" label="Email" :rules="rulesEmail" required></v-text-field>
      <v-select v-model="gender" label="Gender" :items="gender_items" required></v-select>
      <v-text-field
        v-model="birthyear"
        label="Birthyear"
        type="number"
        min="1900"
        max="new Date().getFullYear()"
        required
      ></v-text-field>
      <v-text-field v-model="location" label="Location"></v-text-field>
      <v-text-field
        v-model="height"
        label="Height"
        type="number"
        step="0.1"
        required
      ></v-text-field>
      <v-text-field
        v-model="weight"
        label="Weight"
        type="number"
        step="0.1"
        required
      ></v-text-field>
      <v-textarea v-model="biography" label="Bio" auto- rows="1"></v-textarea>
      <v-row align="center" justify="space-around">
        <v-btn @click="handleCancel" color="error" large>Cancel</v-btn>
        <v-btn @click="handleSaveProfile" color="primary" large>Save Profile</v-btn>
      </v-row>
    </v-form>
  </div>
</template>

<script setup lang="ts">
import { onBeforeMount } from 'vue';
import { useRouter } from 'vue-router';
import { storeToRefs } from 'pinia';
import { apiService } from '../services';
import { useUserProfileStore } from '../stores/user.profile';

const userProfileStore = useUserProfileStore();
const router = useRouter();

const { name, gender, birthyear, height, weight, location, biography, email } =
  storeToRefs(userProfileStore);

const gender_items = [
  { title: 'Male', value: 'male' },
  { title: 'Female', value: 'female' },
];

const rulesEmail = [
  (value: string) => {
    const pattern =
      /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return pattern.test(value) || 'Invalid e-mail.';
  },
  (value: string) => !!value || 'E-mail is required',
];

onBeforeMount(async () => {
  if (!userProfileStore.isProfileStored) {
    const profile = await apiService.loadUserProfile();
    userProfileStore.$patch(profile);
    console.debug('[Views/UserProfile] onBeforeMount profile %s', JSON.stringify(profile));
  }
});

const handleSaveProfile = (e: Event) => {
  e.preventDefault();
};

const handleCancel = () => {
  router.push('/');
};
</script>
<!-- 
<script lang="ts">
export default {
  name: 'UserProfile',
  data() {
    return {
      emailRules: [
        (v: string) => !!v || 'E-mail is required',
        (v: string) => /.+@.+\..+/.test(v) || 'E-mail must be valid',
      ],
      gender_items: [
        { title: 'Male', value: 'male' },
        { title: 'Female', value: 'female' },
      ],
    };
  },
  methods: {
    handleSaveProfile() {
      this.$router.push('/');
    },
    handleCancel() {
      this.$router.push('/');
    },
  },
};
</script> -->
